* {
    padding: 0;
    margin: 0;
}

body {
font: 12px Verdana, Arial, Sans-Serif;
background: #f7f7f7;
color :#444;
}

form {
padding-top:100px
}

input {
height:35px;
color: #444;
border: 1px solid #232C3D;
margin:0;
padding:0
}

input.teks {
width: 400px;
font-size: 1.3em;
}

input.tombol {
font-size: 1em;
}

#wrap {
width: 770px;
margin: 0 auto;
background: #f7f7f7;
}

#content {
margin: 20px 50px;
font-size: 2em;
text-align:center;
}

#footer {
clear : both;
margin-top: 27px;
padding:10px;
text-align: center;
}